
        <form method="post">
            <select name="PatientSelection">
                <option></option>
                @using (var db = new Gnusys.Models.GnysusEFModel())
            {
                foreach (var item in db.Patient)
                {
                    if (item.ForName != null)
                    {
                            <option value="@item.ID">@item.ForName @item.SurName</option>
                        }
                    }
                }
            </select>
            <input name="ShowPatients" type="submit" formmethod="post" />
        </form>


@*<div class="container">
        <div class="row">
            <p class="col-md-4"><u>Iltmætning</u></p>
            <p class="col-md-4"><u>Pulse</u></p>
            <p class="col-md-4"><u>Dato</u></p>
        </div>
    </div>

        @if (ViewBag.ShowPatients != null)
        {
            foreach (var item in ViewBag.ShowPatients)
            {
                <div class="container">
                    <div class="row">
                        <p class="col-md-4"><u>@item.b.OxygenSaturation</u></p>
                        <p class="col-md-4"><u>@item.b.Pulse</u></p>
                        <p class="col-md-4"><u>@item.b.Date</u></p>
                    </div>
                </div>
            }
        }
        else
        {
            @Html.Raw("null");
        }*@

@*<div>
    @if (ViewBag.ShowPatients != null)
    {
        foreach (var item in ViewBag.ShowPatients)
        {
            <p>@item.b.OxygenSaturation  @item.b.Pulse @item.b.Date;</p>

        }
    }
    else
    {
        @Html.Raw("null");
    }

</div>*@

@if (ViewBag.ShowPatients != null)
{
    foreach (var item in ViewBag.ShowPatients)
    {
        <i>Dato: @item.Date --- Iltmætning: @item.OxygenSaturation --- Pulse: @item.Pulse</i><br />
    }
}











