<style type="text/css">
    .auto-style1 {
        width: 100%;
    }

    .auto-style2 {
        height: 24px;
    }

    .auto-style3 {
        width: 144px;
        text-align: center;
    }

    .auto-style4 {
        height: 24px;
        width: 144px;
        text-align: center;
    }

    .auto-style5 {
        width: 130px;
    }

    .auto-style6 {
        height: 24px;
        width: 130px;
    }

    .auto-style7 {
        width: 96px;
    }

    .auto-style8 {
        width: 144px;
        text-align: right;
        height: 26px;
    }

    .auto-style9 {
        width: 130px;
        height: 26px;
    }

    .auto-style10 {
        height: 26px;
    }

    .auto-style11 {
        height: 24px;
        width: 144px;
        text-align: right;
    }

    .auto-style12 {
        width: 144px;
        text-align: right;
    }
</style>


    <td class="auto-style11">Alle patienter</td>
    <td class="auto-style6">
        <form method="post">
            <select name="PatientSelection" id="PatientSelection" class="text-box single-line" data-val="true" style="height:24px;width:174px;">
                <option></option>
                @using (var db = new Gnusys.Models.GnysusEFModel())
            {
                foreach (var item in db.Patient)
                {
                    if (item.ForName != null)
                    {
                            <option value="@item.ID">@item.ForName @item.SurName</option>
                        }
                    }
                }
            </select>
            <input id="Submit1" name="ShowPatients" type="submit" formmethod="post" value="Vælg patient" />
        </form>
</td>


@if(ViewBag.ShowPatients != null)
{
    foreach(var item in ViewBag.ShowPatients)
    {
        <i>@item.OxygenSaturation   ---  @item.Pulse  ---  @item.Date</i><br />
    }
}






